
$blue: #00a2b2;
$light-blue: #63f1ff;
$orange: #FF7613;
$white: #FFF6ef;
$grey: #B29f91;
$dark_orange: #FF6000;
$font-stack: Roboto, sans-serif;

.title {
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px black;
}

body, nav, form, input[placeholder], input[value], button[value] {
  font-family: 'Bitter', serif;
}

a {
  text-decoration: none;
}

.vote {
  height: 1em;
  width: auto;
  cursor: pointer;
}

.logo {
  display: block;
  float:left;
  margin: 0 auto;
  position: relative;
  width: 5%;
  height: 100%;
  // border: 1px solid red;
}


#header_search {
  display: block;
  float:left;
  margin: 0 auto;
  position: relative;
  height: 100%;
  vertical-align: middle;
  padding-top: 8.5px;
  // border: 1px solid red;
}

.logo img {
  width:50px;
  margin: auto;
  vertical-align: middle;
  height: 90%;
  top: 10%;
  // border: 1px solid pink;
  padding-left: 5%;
  padding-top: 3px;
}

nav {
  height: 3.5em;
  background-color: $blue;
  // border: 1px solid deeppink;
  /*box-shadow: 0 3px 1px .5px #666;*/
}

h1 {
  color: $white;
  font-size: 2.9em;

}

.title {
  display: inline-block;
  margin: 0 auto;
  // border: 1px solid blue;
  text-align: center;
  width: 50%;
  padding-top: 3px;
}

nav ul {
  width: 24%;
  float:right;
  // background-color: pink;
}

.links {
  padding-top: 5px;
  // border: 1px solid red;
}

nav li {
  vertical-align: middle;
  display: inline-block;
  // border: 1px solid blue;
  float: right;
  margin: 0 20px;
  padding-top: 13px;
}

li a {
  color: $white;
  font-weight: bold;
  text-shadow: .5px .5px .5px black;
  letter-spacing: .10em;

}

li a:hover {
  color: $orange;
}

#home_search {
  text-align: center;
  position: relative;
  top: 10%;
  width: 100%;
}

#slogan {
  color: white;
  text-align: center;
  background-image: url('http://www.santafe.org/images/Links/6/446-9wine_OldHsPeopleDinner_6135.jpg');
  background-size: cover;
  background-position: top 900px center;
  height: 550px;
  padding-top: 100px;
  position: relative;
}

#slogan::after {
  content: "";
  background: url('http://www.santafe.org/images/Links/6/446-9wine_OldHsPeopleDinner_6135.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.pure-button{
  background-color: $blue;
  color: $white;
  width:100px;

}

#banner_search{
  border: solid;
  border-width: 1.5px;
  border-color: $light-blue;
}


.pure-input-1-4{
  margin-right: 10px;
}
#search_tag{
  font-size: 1.7em;
  padding-right: 10px;
  color: $white;
}

h2 a{
  color: $dark_orange;
  text-shadow: .4px .4px .4px black;

}
.restaurant_title {
  display: inline-block;
}
.votes {
  display: inline-block;
  // float: right;
  // margin-right: 25%;
}

.restaurants_splash {
  // text-align: center;
  width: 49%;
  float: left;
  background-image: url('http://www.punchbowl.com/gridfs/fs/4e7fe0ea8b28d9185c000c57-1317003499');
  height: 500px;
  padding-left: 1%;
  // display: none;

}

#users_splash{
  width: 49%;
  float: right;
  padding-left: 1%;
  background-image:url("http://www.thaitablerestaurant.com/wp-content/themes/thaitable/images/background/05.jpg");
  height: 500px;
  background-size: cover;
  color: $white;
  // display: none;
}

.subheading {
  color: black;
  padding-bottom: 30px;
  padding-top: 5px;

}

#user {
  color: $white;
  padding-bottom: 35px;
  padding-top: 5px;

}

#list1{
  padding-top:2px;
  font-style: italic;
}


#list2{
  padding-top:10px;
}

.vote{
padding-right: 6px;
}

#review_title a {
  color: $white;
  padding-top: 70px;

}

#review_title {
  color: white;
  padding-top: 15px;
  width: 50%;
  line-height: 1.3em;
  letter-spacing: .08em;
}


#reviewer_photo{
  border-radius: 50%;
  box-shadow: 0px 0px 7px #fff;
}

#subtitle{
  padding-top: 10px;
  letter-spacing: .08em;
}

#author a {
  color: $light-blue;
}

#author {
  padding-top: 3px;
  letter-spacing: .08em;
}

#city{
  letter-spacing: .08em;
}
#results_body{
  background: url(http://3.bp.blogspot.com/-w5_5ULWKFno/UcIzvZ8Kt8I/AAAAAAAAKis/3-ykibquoMA/s1600/DSC_0154.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

.results_splash{
  text-align: center;
  width: 100%;
  background-color: rgba(178,159,145,.7);
  height: 900px;
}


