
$blue: #00a2b2;
$light-blue: #63f1ff;
$orange: #FF7613;
$white: #FFF6ef;
$grey: #B29f91;


.title {
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 1px black;
}

body, nav, form, input[placeholder], input[value], button[value] {
  font-family: 'Bitter', serif;
}

a {
  text-decoration: none;
}

.vote, .restaurant_title {
  display: inline-block;
}

body a {
  color: $orange;
}

body {
  text-align: center;
}

.search {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
}

.search input[type="text"] {
  width: 15%;
}

.vote {
  height: 1em;
  width: auto;
  cursor: pointer;
}

.logo {
  display: block;
  float:left;
  margin: 0 auto;
  position: relative;
  width: 24%;
  height: 100%;
}

.logo img {
  width:50px;
  margin: auto;
  vertical-align: middle;
  height: 90%;
  top: 10%;
  // border: 1px solid pink;
  padding-left: 5%;
  padding-top: 3px;
}

nav {
  height: 3.5em;
  background-color: $blue;
  // border: 1px solid deeppink;
  /*box-shadow: 0 3px 1px .5px #666;*/
}

h1 {
  color: $white;
  font-size: 2.9em;

}

.title {
  display: inline-block;
  margin: 0 auto;
  // border: 1px solid blue;
  text-align: center;
  width: 50%;
  padding-top: 3px;
}

nav ul {
  width: 24%;
  float:right;
  // background-color: pink;
}

.links {
  padding-top: 5px;
  // border: 1px solid red;
}

nav li {
  vertical-align: middle;
  display: inline-block;
  // border: 1px solid blue;
  float: right;
  margin: 0 20px;
  padding-top: 13px;
}

li a {
  color: $white;
  font-weight: bold;
  text-shadow: .5px .5px .5px black;
  letter-spacing: .10em;

}

li a:hover {
  color: $orange;
}
